* { margin: 0;
  padding: 2;
  box-sizing: border-box;

}
html {
  height: 100%;

}
body {
        margin:0 auto; padding:0px;
        background-color: #FAFAFA;
        height: 3000px;
        width: 1000px; 
        border: 10px solid white;    
}
.head {
    overflow: hidden;
        background-color: #FAFAFA;
        
} 
#nav{
        float: left;
        display: block;
        text-align: center;
        padding: 5px 10px;
        font: 'Space' 'Grotesk';
}
h2{
        color: #0F298B;
        font: 'Space' 'Grotesk';
        font-size: x-large;
        word-spacing: 5px;
        border-spacing: 10px;
}
.container {
        background-color: #FAFAFA;   
        text-align: left;
        float: left;
}
.container {
        float: left;
        width: 20%;
        padding: 5px;
}
.row::after {
        content: "";
        clear: both;
        display: table;
}
img {
        width:150%;
        height:30%;
        object-fit: cover;
}
 .space {
        display: flex;
        float: left;
        text-align: center;
        border-width: 0px;
        margin-bottom: 0px;
        background-color: white;
        width: 800px;
        height: 45px;
        border: 3px solid white;
        padding: 5px;
        margin: 20px;
        border-radius: 25px;
        margin-top: 5px;
}
.column {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 15px;
        color: #0F298B;
        border-width: 10px;
}
.h3  {
    color: #0F298B;
        font: 'Space' 'Grotesk';
        font-size: x-large;
        word-spacing: 5px;
        border-spacing: 20px;
        margin-left: 0px;
        padding-right: 50px;
}
h3{
    float: left;
    text-align: left;
    padding-right: 75px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.h4{
        float: left;
        color: #0F298B;
        font-weight:bolder ;
        font-size: xx-large;
        margin-right: 250px;
}
.p4{
        color: #0F298B;
        position: relative;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
}
.p5{
        color: grey;
        text-align: center;
        font-weight: bold;
}
.box1{
                height: 200px;
                width: 200px;
                margin: 5px;
                background-color: white;
                background-clip: border-box;
                text-align: center;
                margin-left: 120px;
                float: left;
                float: left;
  
              
}
#image {
        width: 30px;
        height: fit-content;
        margin-left: 70px;
        
        
}
#p1{
        color: black;
        font-weight: bold;

}
.box2{
        height: 200px;
                width: 200px;
                margin: 5px;
                background-color: white;
                background-clip: border-box;
                text-align: center;
                margin-left: 120px;
                float: left;
                float: left;
}
   .head{
        color: #0F298B;
        font-weight: bolder;
   }
.para{
        color: grey;
        font-weight: bolder;
}
.ul{
        color: #0F298B;
        float: left;
}
.imagee{
        height: auto;
}
#nav{
        color: black;
        font-weight: bolder;
}
#header6{
        color: #0F298B;
        text-align: center;
}
      
     


      
      

